$primary-color: #15dea5;
$accent-color: #fff;
$background-color: #001534;
$alert-color: #d8464b;
$text-input-color: #D6FFF5;

$heading-shadow-size: 0.25rem;

$padding: 1.5rem;
$margins: 1.5rem;