/* Michelle Petit, 04-20-2020 */

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* body styles */
body{
    display: grid;
    grid-template-areas: "h h h h" 
                         "a1 a2 a2 a3"
                         "a1 a2 a2 a3"
                         "f f f f";
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
    
}
/* header styles */
header{
    grid-area: h;
    background-color: #344051;
    font-size: 2em;
}
header img{
    border-radius: 50%;
    float: left;
    padding: .5% 3%;
}
/* nav bar styles */
nav.header ul{
    list-style-type:none;
    display: flex;  
}
nav.header ul li{
    padding-left: 8%;
    padding-top: 1.5%;
}
nav.header a:link{
    color: #fbfbf9;
}
nav.header a:visited{
    color: rgb(243, 213, 45);
}
nav.header a:hover{
    color: #bd935c;
}
/* main styles */
h1{
    color: #344051;
    font-family: 'Sriracha', Helvetica, Arial, sans-serif;
    text-align: center;
}
article#who{
    grid-area: a1;
    text-align: justify;
    margin: 30px;
}
article#who img{
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}
article#why{
    grid-area: a2;
    text-align: justify;
    padding: 30px;
    border-left: .5px solid #344051;
    border-right: .5px solid #344051;
}
article#why img{
    float: right;
    margin-left: 25px;
    margin-top: 25px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 20px;
    -webkit-shape-outside: circle(275px at 60% 70%);
    -o-shape-outside: circle(275px at 60% 70%);
    -moz-shape-outside: circle(275px at 60% 70%);
    shape-outside: circle(275px at 60% 70%);
}
article#what{
    grid-area: a3;
    text-align: justify;
    padding: 30px;
}
article#what img{
    float: right;
    margin-left: 25px;
    margin-top: 25px;;
}
/* footer styles */
footer{
    grid-area: f;
    background-color: #344051;
    text-align: center;
}
footer img{
    padding: .25%;
    margin-top: .4%;
}