/* Michelle Petit, 04-20-2020 */

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body styles */
body{
    display: grid;
    grid-template-areas: "h" 
                         "d"
                         "f";
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
}
/* div styles */
div{
    grid-area: d;
    width: 1000px;
    height:600px;
    color: #000;
    margin:0% 0% 0% 23%;
    background: url('../images/mutedSign.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-position: center;    
}
/* header styles */
header{
    grid-area: h;
    background-color: #344051;
    font-size: 2em;
}
header img{
    border-radius: 50%;
    float: left;
    padding: .5% 3%;
}
/* nav bar styles */
nav.header ul{
    list-style-type:none;
    display: flex;  
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
nav.header ul li{
    margin-right: auto;
    padding-left: 8%;
    padding-top: 1.5%;
}
nav.header a:link{
    color: #fbfbf9;
}
nav.header a:visited{
    color: rgb(243, 213, 45);
}
nav.header a:hover{
    color: #bd935c;
}
/* footer styles */
footer{
    grid-area: f;
    background-color: #344051;
    text-align: center;
}
footer img{
    padding: .25%;
    margin-top: .4%;
}
