/* Michelle Petit, 04-20-2020 */

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* html styles */
html{
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
    background-color: white;
}
/* body styles */
body.container{
    display: grid;
    grid-gap: 1%;
    grid-template-areas: "h h h h h h h" 
                         "a m m m m m s"
                         "a m m m m m s "
                         "f f f f f f f";
                       
}
/* header styles */
header{
    grid-area: h;
    background-color: #344051;
    font-size: 2em;
}
header img{
    border-radius: 50%;
    float: left;
    padding: .5% 3%;
}
/* nav bar styles */
nav.header ul{
    list-style-type:none;
    display: flex;  
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
nav.header ul li{
    padding-left: 8%;
    padding-top: 1.5%;
}
nav.header a:link{
    color: #fbfbf9;
}
nav.header a:visited{
    color: rgb(243, 213, 45);
}
nav.header a:hover{
    color: #bd935c;
}
/* aside styles */
aside{
    grid-area: a;
    height: 100%;
    background-image: linear-gradient(to bottom, #344051, rgb(248, 186, 161) 5%, #fbfbf9, rgb(248, 186, 161) 95%, #344051);
    background-size: cover;
    border: 1px solid #344051;
}
aside>img{
    margin: 35% 13%;
    border-style: solid;
    border-width: 4px;
    border-color: black #b2b5ac;
}
/* main styles */
main{
    grid-area: m;
    justify-self: center;
}
/* div styles */
div.introduction{
    text-align: center;
}
div.talk2me{
    text-align: center;
    margin-bottom: 5%;
}
/* h2 styles */
h2{
    color: #344051;
    font-family: 'Sriracha', Helvetica, Arial, sans-serif;
}
h2.welcomeheader{
    font-size: 2em;
}
/* making a contact "button" */
a#click{
    border-style: solid;
    border-color: black #b2b5ac;
    background-color: rgb(248, 176, 147);
    padding: 1% 3%;
    color: #fbfbf9;
}
a#click:hover{
    cursor: pointer;
    background: rgb(243, 213, 45);
    color: #000;
}
/* section styles */
section{
    grid-area: s;
    background-image: linear-gradient(to bottom, #344051, rgb(248, 186, 161) 5%, #fbfbf9, rgb(248, 186, 161) 95%, #344051);
    background-size: cover;
    border: 1px solid #344051;
}
fieldset{
    margin: 35% 5%;
    background-color: #fbfbf9;
    border-style: solid;
    border-width: 4px;
    border-color: black #b2b5ac;
}
section ul{
    list-style-type: none;
}
section ul li{
    padding: 2%;
}
/* submit button styles */
section input[type="submit"]
{
    outline: none;
    border-color:black #b2b5ac;
    border-style: solid;
    border-width: 4px; 
    height: 40px;
    background: #344051;
    color: #fff;
    font-size: 18px;
    margin-left: 15%;
}
section input[type="submit"]:hover
{
    cursor: pointer;
    background: rgb(243, 213, 45);
    color: #000;
}
/* footer styles */
footer{
    grid-area: f;
    background-color: #344051;
    text-align: center;
}
footer img{
    padding: .25%;
    margin-top: .4%;
}

