/* Michelle Petit 04-09-2020 */

@font-face {
    font-family: 'd-din_expdinexp-bold';
    src: url('../fonts/d-dinexp-bold-webfont.woff2') format('woff2'),
         url('../fonts/d-dinexp-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #B8D1EB;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    
}
#outerwrapper {
    width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

.floatleft { 
    float: left;
    margin-right: 3%;
}

.floatright {
    float: right;
    margin-left: 3%;

}

main, footer { 
    clear: both;
}
main{
    background-color: #C5A98B;
    padding: 10px;
}
main ul{
    list-style-image: url(../images/smtomato.png);
}
nav ul{
    list-style-type: none;
}
h1{
    font-family: 'Special Elite', cursive;
    font-size: 3em;
}
h2{
    font-weight: normal;
    font-style: italic;
    font-family: 'd-din_expdinexp-bold';
}
footer{
    font-size: .75em;
    text-align:center;
    
    padding : 10px 0px;
    background-color: saddlebrown;
}