/* Style sheet created by: Michelle Petit, 04-13-2020 */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 0.5%;
	margin-left: 1%;
	font-size: 3em;
}

/* Style for the nav element */
nav {
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #4E9657;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}
/* Style for the table */
table{
  width: 100%;
}
td, th {
	border: 1px solid black;
}
/* Style for the main element */
main{
	padding: 1em;
	background-color: #4E9657;
}
/* Style for the section element */
section{
	background-color: white;
	color: #4e9657;
	padding: 1%;
	margin-top: 2%;
}
/* Style for article element */
article{
	color: black;
	border-top: rgb(31, 30, 30) thin solid;
	padding: 1%;
	margin-top: 2%;
}
/* Style for aside element */
aside{
	background-color: #4e9657;
	text-align: center;
	font-size: x-large;
	color: white;
	padding: 2%;
	margin-top: .5%;
	border-radius: 2em;
}
/* Style for footer element */
footer{
	text-align: center;
	font-size: .70em;
}
